<h1><%= @title %></h1>

<%= semantic_form_for @order do |f| %>

  <%= f.inputs do %>
    <%= f.input :branch, :label => "Branch Ref.",
                         :required => true %>
  <% end %>
  
  <%= f.semantic_fields_for :line_items do |li| %>
    debugger
    <%= li.input :product_id, :as => :hidden %>
    <%= li.input :quantity, :label => LineItem.where("id = ?", li.id).product.name %>
  <% end %>
  
  <%= f.buttons %>
  
<% end %>