<h1><%= @title %></h1>

<h2>Branch details</h2>
<p>Branch ref: <%= @order.branch %></p>
<p>Branch contact: <%= @order.contact %></p>

<h2>Order details</h2>
<ul>
  <% for li in @order.line_items %>
    <li>
      <%= li.quantity %> x
      <%= li.product.name %> @
      <%= format_price(li.product.price) %> each =
      <%= format_price(li.total) %>
    </li>
  <% end %>
</ul>
<p><strong>Order Total: <%= format_price(@order.total) %></strong></p>

<%= button_to "Confirm and send order",
              send_path(:id => @order.id),
              :method => :post %>
              
<%= button_to "Amend order", edit_order_path(@order), :method => :get %>