<h1><%= @title %></h1>

<p>Branch ref.: <%= @order.branch %></p>

<p>Order details</p>
<ul>
  <% for li in @order.line_items %>
    <li><%= li.quantity %> x <%= li.product.name %></li>
  <% end %>
</ul>

<%= button_to "Confirm and send order",
              send_path(:id => @order.id),
              :method => :post %>