<!doctype html>
<html lang="en">

  <head>
    <title>A Brandon Hire branch has placed a drinks order</title>
    <meta charset="utf-8">
    <meta name="author" content="Drinkmaster - David Dean" />
    <meta name="description" content="Brandon Hire ordering system" />
  </head>
  
  <body>
    
    <h1>A Brandon Hire branch has placed a drinks order</h1>
    
    <p><strong>Please take a look and check if this order is OK to be fulfilled by Drinkmaster.</strong></p>
    <p style="color:f00;">If it is approved, please forward this email to <%= mail_to "sales@drinkmaster.co.uk", "sales@drinkmaster.co.uk" %>.</p>
    
    <h2>Branch details</h2>
    <p>Branch ref: <%= @order.branch %></p>

    <h2>Order details</h2>
    <ul>
      <% for li in @order.line_items %>
        <li>
          <%= li.quantity %> x
          <%= li.product.name %> @
          &pound;<%= (li.product.price / 100).round %> each =
          &pound;<%= (li.total / 100).round %>
        </li>
        amount = amount.round
    pounds, pence = amount.divmod(100)
    raw sprintf("&pound;%d.%02d", pounds, pence)
      <% end %>
    </ul>
    <p><strong>Order Total: &pound;<%= (@order.total / 100).round %></strong></p>
    
  </body>
  
</html>