<!doctype html>
<html lang="en">

  <head>
    <title>A Brandon Hire branch has placed an order for uniforms</title>
    <meta charset="utf-8">
    <meta name="author" content="Monsoon Marketin - David Dean" />
    <meta name="description" content="Brandon Hire ordering system" />
  </head>
  
  <body>
    
    <h1>A Brandon Hire branch has placed an order for uniforms</h1>
    
    <p><strong>Please take a look and check if this order is OK to be fulfilled by Monsoon Marketing.</strong></p>
    <p style="color:f00;">If it is approved, please forward this email to <%= mail_to "info@monsoonmarketing.co.uk", "info@monsoonmarketing.co.uk" %>.</p>
    
    <h2>Branch details</h2>
    <p>Branch ref: <%= @order.branch %></p>
    <p>Branch contact: <%= @order.contact %></p>

    <h2>Order details</h2>
    <ul>
      <% for li in @order.line_items %>
        <li>
          <%= li.quantity %> x
          <%= li.product.name %> @
          &pound;<%= sprintf("%.02f", li.product.price / 100.0) %> each =
          &pound;<%= sprintf("%.02f", li.total / 100.0) %>
        </li>
      <% end %>
    </ul>
    <p><strong>Order Total: &pound;<%= sprintf("%.02f", @order.total / 100.0) %></strong></p>
    
  </body>
  
</html>