<article class="product-entry">
  <table>
    <tr>
      <th colspan="3">
        <%= label_tag :product_id, product.name %>
        <% if product.sizes.count > 0 %>
        &nbsp; - &nbsp;
          <%= label_tag :size, "Size" %>
          <%= select_tag :size, options_for_select(product.sizes.collect{ |p| p.name }) %>
        <% end %>
      </th>
    </tr>
    <%= hidden_field_tag :product_id, product.id %>
    <%= hidden_field_tag :order_id, @order.id %>
    <tr>
      <td class="image">
        
      </td>
      <td class="quantity">
        <%= label_tag :quantity, "Quantity" %>
        <%= text_field_tag :quantity, 1 %>
      </td>
      <td class="add-button"><%= primary_add_pill_button_tag "Add to order" %></td>
    </tr>
  </table>
  
</article>