<!doctype html>
<html lang="en">

  <head>
    <title><%= global_title %></title>
    <meta charset="utf-8">
    <meta name="author" content="David Dean" />
    <meta name="description" content="Brandon Hire uniform ordering system" />
    <meta name="keywords" content="" />
    <!-- <link rel="shortcut icon" href="/images/favicon.png" type="image/gif" /> -->
    <!-- <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/basic.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/mobile.css" media="screen and (min-width: 320px) and (max-width: 640px), handheld" />
    <link rel="stylesheet" href="/stylesheets/desktop.css" media="screen and (min-width: 640px)" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/stylesheets/ie.css" media="screen" />
    <![endif]-->
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/formtastic.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/css3buttons/css3-github-buttons.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/typography.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/site.css" media="screen, handheld" />
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body id="<%= body_id %>">
    
    <!-- Top bar showing login information -->
    <aside id="login-bar" class="container">
      <div class="row">
        <div class="twelvecol">
          <p></p>
        </div>
      </div>
    </aside>
    
    <!-- Masthead title bar -->
    <header id="masthead" class="container">
      <div class="row">
        <div class="twelvecol">
          <h1>Brandon Hire: Order Uniforms</h1>
        </div>
      </div>
    </header>
    
    <!-- Main site navigation -->
    <nav id="main-nav" class="container">
      <div class="row">
        <ul>
          <li><%= link_to "Order your uniforms", root_path %> |</li>
          <li><%= link_to "Contact us", contact_path %></li>
        </ul>
      </div>
    </nav>
    
    <!-- Rails flash -->
    <section id="page" class="container">
      <div class="row">
        <div class="content eightcol">
          <% if notice %>
            <div id="notice"><%= raw notice %></div>
          <% end %>
          <% if alert %>
            <div id="alert"><%= raw alert %></div>
          <% end %>
          
          <%= yield %>
        </div>
        
        <aside id="sidebar" class="fourcol last">
          <section id="order-summary">
            <h1>Your order</h1>
            <ul>
              <% for li in @order.line_items %>
                <% if li.quantity != 0 && li.quantity != nil %>
                  <li class="<%= cycle('even', 'odd') %>">
                    <%= li.quantity %> x
                    <%= li.product.name %>
                    <%= "(#{li.size})" if li.size %>
                     -
                    <%= format_price(li.total) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <p><strong>Order Total: <%= format_price(@order.total) %></strong></p>
            <%= button_group do %>
              <%= primary_approve_pill_button_link_to "Confirm order", order_path(@order) %>
              <%= edit_pill_button_link_to "Edit order", edit_order_path(@order) %>
            <% end %>
            <div class="extra-buttons">
              <%= negative_trash_pill_button_link_to "Reset order", order_path(@order), :method => :delete %>
            </div>
          </section>
          
          <section id="instructions">
            <h1>Welcome...</h1>
            <p>Please use these pages to order your uniforms.</p>
            <p>Please note, all orders are passed to Brandon Hire head office for authorisation.</p>
          </section>
        </aside>
      </div>
    </section>
    
    <footer id="page-footer" class="container">
      <div class="row">
        <section id="copyright-info" class="fourcol">
          <header>Copyright &copy; <%= Date.today.year %> Monsoon Marketing Ltd.</header>
          <p><%= link_to "www.monsoonmarketing.co.uk", "http://www.monsoonmarketing.co.uk" %></p>
        </section>
        <section id="terms-and-conditions" class="fourcol">
          <header>Website designed by</header>
          <p><%= link_to "www.moortor-design.co.uk", "http://www.moortor-design.co.uk" %></p>
        </section>
        <section id="contact-details" class="fourcol last">
          <header>Contact Us</header>
          <p><%= mail_to "info@monsoonmarketing.co.uk", "info@monsoonmarketing.co.uk" %></p>
        </section>
      </div>
    </footer>
    <script src="/javascripts/respond.min.js"></script>
  </body>

</html>