<!doctype html>
<html lang="en">

  <head>
    <title><%= global_title %></title>
    <meta charset="utf-8">
    <meta name="author" content="Drinkmaster - David Dean" />
    <meta name="description" content="Brandon Hire ordering system" />
    <meta name="keywords" content="" />
    <!-- <link rel="shortcut icon" href="/images/favicon.png" type="image/gif" /> -->
    <!-- <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/basic.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/mobile.css" media="screen and (min-width: 320px) and (max-width: 640px), handheld" />
    <link rel="stylesheet" href="/stylesheets/desktop.css" media="screen and (min-width: 640px)" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/stylesheets/ie.css" media="screen" />
    <![endif]-->
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/formtastic.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/typography.css" media="screen, handheld" />
    <link rel="stylesheet" href="/stylesheets/site.css" media="screen, handheld" />
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body id="<%= body_id %>">
    
    <!-- Top bar showing login information -->
    <aside id="login-bar" class="container">
      <div class="row">
        <div class="twelvecol">
          <p></p>
        </div>
      </div>
    </aside>
    
    <!-- Masthead title bar -->
    <header id="masthead" class="container">
      <div class="row">
        <div class="twelvecol">
          <h1>Brandon Hire: Order Drinks</h1>
        </div>
      </div>
    </header>
    
    <!-- Main site navigation -->
    <nav id="main-nav" class="container">
      <div class="row">
        <ul>
          <li><%= link_to "Order your drinks", root_path %> |</li>
          <li><%= link_to "Contact us", contact_path %></li>
        </ul>
      </div>
    </nav>
    
    <section id="page" class="container">
      <div class="row">
        <div class="content eightcol">
          <% if notice %>
            <div id="notice"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div id="alert"><%= alert %></div>
          <% end %>
          
          <%= yield %>
        </div>
        
        <aside id="sidebar" class="fourcol last">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </aside>
      </div>
    </section>
    
    <footer id="page-footer" class="container">
      <div class="row">
        <section id="copyright-info" class="fourcol">
          <header>Copyright &copy; <%= Date.today.year %> Drinkmaster Ltd.</header>
          <p><%= link_to "www.drinkmaster.co.uk", "http://www.drinkmaster.co.uk" %></p>
        </section>
        <section id="terms-and-conditions" class="fourcol">
          <p>Terms and Conditions</p>
        </section>
        <section id="contact-details" class="fourcol last">
          <header>Contact Us</header>
          <p><%= mail_to "info@drinkmaster.co.uk", "info@drinkmaster.co.uk" %></p>
        </section>
      </div>
    </footer>
  </body>

</html>